{% load static %}

<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset='utf-8'>
        <title></title>
        <link rel="stylesheet" href="{% static 'ApexTracker/style.css' %}">
        <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    </head>
    <body>
        <div class="stuff-box red">
            <h1>UNDER CONSTRUCTION</h1>
            <h2>This page is currently being built</h2>
            <h2>This is the Home page.</h2>
        </div>
        <div class="stuff-box white nav">
            <ol>
                <li><a href="{% url 'ApexTracker:index' %}">Home Page</a></li>
                <li><a href="{% url 'ApexTracker:input' %}">Daily Input</a></li>
                <li><a href="{% url 'ApexTracker:report' %}">Generate Report</a></li>
                <li><a href="{% url 'ApexTracker:settings' %}">Settings</a></li>
            </ol>
        </div>
        <div class="stuff-box black">
            <input type="text" placeholder="Search...">
        </div>
        <div id="app">
            <p>{{ message }}</p>
            <input v-model="message" placeholder="Edit me">
        </div>

        <script>
            new Vue({
                el: '#app',
                data: {
                    message: 'Hello, Vue.js!'
                }
            });
        </script>
    </body>
</html>