{% load static %}

<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset='utf-8'>
        <title>Title</title>
        <link rel="stylesheet" href="{% static 'ApexTracker/style.css' %}">
    </head>
    <body>
        <div class="stuff-box red">
            <h1>UNDER CONSTRUCTION</h1>
            <h2>This page is currently being built</h2>
            <h2>This is the Delete Student page.</h2>
            <h3><a href="{% url 'ApexTracker:index' %}">Home Page</a></h3>
        </div>
        <div class="stuff-box white nav">
            <ol>
                <li><a href="{% url 'ApexTracker:index' %}">Home Page</a></li>
                <li><a href="{% url 'ApexTracker:input' %}">Daily Input</a></li>
                <li><a href="{% url 'ApexTracker:report' %}">Generate Report</a></li>
                <li><a href="{% url 'ApexTracker:settings' %}">Settings</a></li>
            </ol>
        </div>
    </body>
</html>